<!-- Formulario básico reactivo -->
<form [formGroup]="myForm">
  <!-- Previsualizamos los valores del Form -->
  <h2>Live data form:</h2>
  <!-- Usamos un pipe de Angular de tipo json para pasar el objeto a JSON -->
  <p>{{ myForm.value | json }}</p>

  <!-- Campos del form -->
  <div class="form">
    <input matInput placeholder="Name" formControlName="name" />

    <input matInput placeholder="Surname" formControlName="surname" />

    <input matInput placeholder="Email" formControlName="email" />

    <input matInput placeholder="Phone" formControlName="phone" />

    <input matInput placeholder="Adress" formControlName="adress" />
  </div>
</form>
